/*start of header css*/
header{
    background-color: #1f2937;
    color: white;
    font-size: 18px;
}

#nav-container{
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav{
    margin-left: 10px;
    
}

#nav-logo{
    margin-right: auto;
    margin-left: 50px;
}