/*start of header css*/
header{
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    height: 100px;
}

#nav-container{
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav{
    margin-right: 35px;
    
}

#nav-logo{
    margin-right: auto;
    margin-left: 50px;
}
/*end of header css*/

/*start of 1st section css*/
#first-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

#hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}

#hero-body-text{
    font-size: 18px;
    color: #e5e7eb;
}

#main-image{
    height: 150px;
    width: 250px;
    margin-left: 150px;
}

#hero-button{
    background-color: #3882f6;
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    color: white;

}
/*end of 1st section css*/

/*start of 2nd section*/
#second-section{
    padding-bottom: 100px;
}


#second-section-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

#image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-with-text{
    margin-left: 35px;
    text-align: center;
}

.chook-img{
    border-radius: 5%;
    height: 175px;
    width: 150px;
}
/*end of 2nd section*/

/*start of 3rd section*/
#quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 36px;
    font-weight: lighter;

}

#author{
    margin-left: 250px;
}

#third-section{
    height: fit-content;
    background-color: #e5e7eb;
}
/*end of 3rd section*/

/*start of 4th section*/
#cta{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-container{
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    
}

#cta-button{
    margin-left: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
}

button,
button:focus,
button:active{
	border:1px solid black;
	background:none;
	outline:none;
    padding:0;
}    