/*start of header css*/
header{
    background-color: #1f2937;
    color: white;
    font-size: 18px;
}

#nav-container{
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav{
    margin-right: 15px;
    
}

#nav-logo{
    margin-right: auto;
    margin-left: 50px;
}
/*end of header css*/

/*start of 1st section css*/
#first-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

#hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}

#hero-body-text{
    font-size: 18px;
    color: #e5e7eb;
}

#main-image{
    height: 150px;
    width: 250px;
    margin-left: 150px;
}

#hero-button{
    background-color: #3882f6;
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    color: white;

}